<div class="animal-container">
  <h1>ALL ANIMALS</h1>
  <div class="row">

  <% @animals.each do |animal| %>

    <div class="col-4">

      <div class="animal">
        <p> <img src="<%= animal.image_url %>" height="300px" width="250px"/></p>
        <p>Name: <%= animal.name() %></p>
        <p>Type: <%= animal.type() %></p>
        <p>Admission Date: <%= animal.admission_date %></p>
        <a href="/animals/<%= animal.id %>">Show Animal</a>
      </div>

    </div>

    <% end %>

  </div>



</div>
