<form method="post" action="/animals/<%= @animal.id %>">

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @animal.name %>"
  />

  <label for="animal-selection">Type:</label>
  <select name="type" id="animal-selection">
    <option value="dog" <%= "selected" if @animal.type == "dog" %>>Dog</option>
    <option value="cat" <%= "selected" if @animal.type == "cat" %>>Cat</option>
    <option value="exotic_pet" <%= "selected" if @animal.type == "exotic_pet" %>>Exotic Pet</option>
    <option value="rabbit" <%= "selected" if @animal.type == "rabbit" %>>Rabbit</option>
  </select>

  <label for="breed-field">Breed:</label>
  <input type="text"
  name="breed"
  id="breed-field"
  value="<%= @animal.breed %>"
  />

  <label for="date-field">Date of admission:</label>
  <input
  type="date"
  name="date"
  id="date-field"
  value="<%= @animal.admission_date %>"
  />

  <label for="adoption-status">Adoption Status:</label>
  <select name="adoption_status" id="adoption-status-selection">
    <option value="t" <%= "selected" if @animal.adoption_status == "t" %>>Ready For Adoption</option>
    <option value="f" <%= "selected" if @animal.adoption_status == "f" %>>Not Ready for Adoption</option>
  </select>

  <label for="owner-id">Owner</label>
  <select name="owner_id" id="adoption-status-selection">
    <option value="null">None</option>
    <% @owner.each do |owner| %>

    <% end %>
  </select>

  <input type='submit' value="Edit Animal">
</form>
