<div class="owner-container">

  <% if params['q'] %>
    <h1>Search: <%= params['q'] %></h1>
  <% else %>
    <h1>ALL OWNERS</h1>
  <% end %>

  <div class="owner-form">
   <form action="/owners" method="get">
     <div class="field">
       <input type="text" name="q" placeholder="Search...">
       <button class="btn">Search</button>
     </div>
   </form>
  </div>


  <div class="row">

<% @owners.each do |owner| %>

    <div class="col-4">

      <div class="owner">
        <p><img src="<%= owner.image_url %>" height="300px" width="250px"/></p>
        <p>Name: <%= owner.first_name() %> <%= owner.last_name() %></p>
        <p><a href="/owners/<%= owner.id %>">Show Owner</a></p>
      </div>

    </div>
<% end %>

  </div>

</div>
